/* SIDEBAR CSS */
.main {
  display: flex;
  margin-top: 70px;
  margin-left: 500px;
  transition: margin-left 0.2s;
}

.sidebar.collapsed ~ .main {
  margin-left: 90px;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: var(--color-background);
  color: white;
  padding: 20px;
  transition: width 0.3s;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar.collapsed .items span {
  display: none;
}

.items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.items li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: var(--color-background) 0.2s;
  padding: 5px 0px;
  border-radius: 4px;
  box-sizing: border-box;
}

.items li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar.collapsed .items li a span {
  display: none;
}

.items li {
  margin: 20px 0;
}

.toggle-button {
  cursor: pointer;
}

.toggle-button > input {
  display: none;
}
